<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/fragment :: head"><title>Add Actor</title></head>
<body>
<header class="header-area">
    <div class="main_menu_movie_details">
        <nav th:replace="fragments/fragment::navigation"></nav>
    </div>
</header>

<style>
    body {
        background-image: url("https://d26oc3sg82pgk3.cloudfront.net/files/media/edit/image/36202/article_full%401x.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<main>
    <div class="row mt-3 mb-3" >
        <div class="col-5 bg-dark rounded m-auto" style="height: 70vh; overflow: auto; float:left; background: rgba(0, 0, 0, 0.2) " >
            <h3 style="color: #a7e8f8; font-size: 40px; font-weight: bold; line-height: 32px; margin: 0 0 24px;
            text-shadow: 1px 1px 1px #082b34;">All actors</h3>
            <div th:each="a : ${actors}" th:object="${a}" class="mt-3 rounded badge-info">
                <img class="mr-2" th:src="@{/images/actor_random.jpg}" alt="Actor" width="50px" height="50px">
                <span th:text="|Actor: *{name};|">Actor names: {name};</span>

                <a style="color: #ffc107" th:href="@{/actors/actor-details/{id}(id = ${a.id})}">See more</a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="/fragments/fragment :: footer"></footer>

</body>
</html>